@model RolesViewModel




@{
    ViewData["Title"] = "Roles";
    Layout = "_AdminLayout";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />







<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
  <div class="px-4 mx-auto max-w-screen-2xl lg:px-12">
      <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
          <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
              <div class="flex items-center flex-1 space-x-4">
                  <h5>
                      <span class="text-gray-500">Roles:</span>
                      <span class="dark:text-white">@ViewBag.totalItems</span>
                  </h5>
                
              </div>
          
   
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("search_data")  
        <input type="submit" value="Search" /></p>
}


          </div>
          <div class="overflow-x-auto">

              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                         
                          <th scope="col" class="px-4 py-3">@Html.ActionLink("Name", "Index", new { sort = ViewBag.SortName })  </th>
                       
                           <th scope="col" class="px-4 py-3"></th>

                      </tr>
                  </thead>
                  <tbody>
                       @foreach (var item in ViewBag.pagedData) {
                           
                      <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                        
                          <th scope="row" class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                              <img src="https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-front-image.png" alt="iMac Front Image" class="w-auto h-8 mr-3">
                              @item.Name
                          </th>
                         
                        
                             <td>
                                   <button id="@item.Id-ex2710q-dropdown-button" data-dropdown-toggle="@item.Id-ex2710q-dropdown" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                    </svg>
                                </button>
                                <div id="@item.Id-ex2710q-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="@item.Id-ex2710q-dropdown-button">
                                        @*<li>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Details</a>
                                        </li>*@
                                       <li>
                                            <a asp-controller="Roles" asp-action="UsersInRole" asp-route-id="@item.Id" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Users in role</a>
                                        </li>
                                         <li>
                                            <a asp-controller="Roles" asp-action="EditUsersInRole" asp-route-id="@item.Id" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add/Remove user</a>
                                        </li>
                                    </ul>

                                  
                                   
                                </div>
                                
                                </td>
                      </tr>
                      
                        }
                  </tbody>
              </table>
           <nav class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                  Showing
                  <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                  of
                  <span class="font-semibold text-gray-900 dark:text-white">1000</span>
              </span>

               <ul class=" pagination inline-flex items-stretch -space-x-px">
                  <li class="page-item disabled">
        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })"> <span class="page-link">Previous</span></a>
     
    </li>
   
      @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")"> <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a></li>
        }
   
    
    <li class="page-item">
      <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
    </li>
              </ul>
         

  
          </nav>
      </div>
  </div>
  </div>

  
</section>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
